h1, h2, h3 {text-align: center;
    color:antiquewhite;
}
p {text-align: left;
    margin-left: 150px;
    margin-right: 150px;
    color: antiquewhite;
}
h1, p {font-family: Tahoma;
        color:antiquewhite;}
body {
    background-color: black;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }